body {
  font-family: "Ubuntu Mono", monospace;
}
.container {
  margin: 50px;
}
.weather-app {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 6px;
  box-shadow: gray;
  box-shadow: 10px 10px 5px #f87979;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    183deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(230, 241, 239, 1) 30%,
    rgba(245, 245, 245, 1) 56%,
    rgba(255, 239, 243, 1) 90%
  );
}
form {
  margin: 0 auto;
}
.form-inline {
  display: block;
  margin: 0 auto;
}
#city-input {
  background: #d3ebe7;
  box-shadow: #f4f1e6;
  border: none;
  height: 50px;
  padding: 15px 20px;
  border-radius: 6px;
  line-height: 32px;
}
#submit-city {
  border: none;
  background: teal;
  height: 40px;
  margin: 0 10px;
}
#your-location {
  border: none;
  background: #f87979;
  height: 40px;
}
.city-card {
  margin-top: 20px;
  padding: 30px;
  border-radius: 6px;
  transition: all 200ms ease-in-out;
}
.city-card:hover {
  background: whitesmoke;
}
h2,
h4,
h5,
p,
li {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
h5::first-letter {
  text-transform: capitalize;
}
p {
  font-size: 32px;
}
.card-text {
  font-size: 70px;
}
.city-temp {
  font-size: 30px;
}
.city-temp img {
  width: 80px;
  height: 80px;
  line-height: 1;
  margin-right: 5px;
}
.city-temp strong {
  color: rgb(33, 33, 33);
  line-height: 1;
  font-size: 64px;
}
.city-temp .tempUnits {
  position: relative;
  font-size: 20px;
  top: -34px;
}
.weekly-container {
  position: absolute;
  right: 200px;
  top: 100px;
}
ul {
  list-style-type: none;
}
div.container-stats {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
.misc {
  margin-top: 20px;
  padding: 30px;
  border-radius: 6px;
  transition: all 200ms ease-in-out;
}
.misc:hover {
  background: whitesmoke;
}

.class {
  display: inline;
}
.overview {
  margin-bottom: 20px;
}
.accent {
  color: #f87979;
}
footer {
  text-align: center;
}

.tempUnits .active {
  color: black;
  cursor: default;
}
.tempUnits .active:hover {
  text-decoration: none;
}
