body {
  font-family: "Times New Roman", Times, serif;
}
.container {
  margin: 50px;
}
.weather-app {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: gray;
}
form {
  margin: 0 auto;
}
.form-inline {
  display: block;
  margin: 0 auto;
}
#search-input {
  background: #e2f2f4;
  box-shadow: #f4f1e6;
  border: none;
  height: 50px;
  padding: 15px 20px;
  border-radius: 6px;
  line-height: 32px;
}
#submit-city {
  border: none;
  background: teal;
  height: 50px;
}
.city-card {
  margin-top: 20px;
  padding: 30px;
  border-radius: 6px;
  transition: all 200ms ease-in-out;
}
.city-card:hover {
  background: #e2f2f4;
}
h2,
h4,
h5,
p {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 32px;
}
.card-text {
  font-size: 70px;
}
.city-temp {
  font-size: 30px;
}
.city-temp img {
  width: 80px;
  height: 80px;
  line-height: 1;
  margin-right: 5px;
}
.city-temp strong {
  color: rgb(33, 33, 33);
  line-height: 1;
  font-size: 64px;
}
.city-temp .temperature {
  position: relative;
  font-size: 20px;
  top: -34px;
}
.weekly-container {
  position: absolute;
  right: 200px;
  top: 100px;
}
ul {
  list-style-type: none;
}
div.container-stats {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}
.misc:hover {
  background: #e2f2f4;
}
.class {
  display: inline;
}
.overview {
  margin-bottom: 20px;
}
.accent {
  color: #f87979;
}
footer {
  text-align: center;
}
